amqp==5.0.7
bidict==0.21.4
billiard==3.6.4.0
blis==0.7.5
catalogue==2.0.6
celery==5.2.1
certifi==2022.12.7
charset-normalizer==2.0.9
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cymem==2.0.6
Deprecated==1.2.13
dnspython==2.1.0
eventlet==0.33.0
Flask==2.0.2
Flask-Caching==1.10.1
Flask-SocketIO==5.1.1
greenlet==1.1.2
h11==0.12.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
kombu==5.2.2
langcodes==3.3.0
MarkupSafe==2.0.1
monotonic==1.6
murmurhash==1.0.6
numpy==1.21.4
packaging==21.3
pandas==1.4.2
pathy==0.6.1
preshed==3.0.6
prompt-toolkit==3.0.24
psycopg2==2.9.3
pydantic==1.8.2
pyparsing==3.0.6
python-dateutil==2.8.2
python-dotenv==0.19.2
python-engineio==4.3.0
python-socketio==5.5.0
pytz==2021.3
redis==4.0.2
requests==2.26.0
six==1.16.0
smart-open==5.2.1
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
SQLAlchemy==1.4.40
srsly==2.4.2
thinc==8.0.13
tqdm==4.62.3
typer==0.4.0
typing-extensions==4.0.1
urllib3==1.26.7
vine==5.0.0
wasabi==0.9.0
wcwidth==0.2.5
websocket-client==1.2.3
Werkzeug==2.0.2
wget==3.2
wrapt==1.13.3
wsproto==1.0.0
