extends layout
block content
    .container
        .container-fluid.text-sm-center.p-5.bg-info.bg-light.rounded
            h1.display-4=title
            hr.my-4
            a(href='/launch')
                button(type='button', class='btn btn-primary btn-lg') MyCharts Oauth Login